body {
  background: fixed linear-gradient(to right bottom, #485da6, #00a1ba, #32b37b);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
